<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<style>
    body{
        height: 100vh;
    }
    .container{
        height: 100%;
    }
</style>
<div class="container d-flex align-items-center justify-content-center">
    <div>
        <form action="/auth" method="post">
            <input type="text" name="username" class="form-text">
            <button class="btn btn-default">Login</button>
        </form>
    </div>
</div>
</body>
</html>
